body {
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: rgba(255, 255, 255, 0.85);
    margin: 0;
    padding: 0;
}
.main-container{
    display: flex;
    background: linear-gradient(to bottom, #3A6EA5, #1F3D6B);    
    flex-direction: column;
    margin: 100px;
    margin-top: 00px;
    height: 450px;
    border-radius: 10px;
}
.top-left-panel{
    display: flex;
    background: linear-gradient(to bottom right, #4A7BA9, #2A4E75);    
    height: 400px;
    width: 220px;
    border-top-left-radius: 10px;
    flex-direction: column;
    align-items: center;
    padding: 0%;
    box-sizing: border-box; 
    position: relative;
}
.bottom-left-panel{
    display: flex;
    background-color: #E2DAD6;
    height:50px;
    width: 220px;
    background: linear-gradient(to top right, #3A6EA5, #1F3D6B);    
    border-bottom-left-radius: 10px;
}
.header{
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.header > h4{
    font-family: 'Roboto', 'Segoe UI', Arial, sans-serif;
}
.logo{
    width: 40px;
    height: auto;
    border-radius: 100%;
    margin-bottom: 2px;
}
.company-title{
    margin: 0px;
    font-size: 20px;
    color: #36454F
}
.reg-details input,
.reg-details select {
    font-size: 11px;
    padding: 3px; 
    border: 2px solid transparent;
    border-radius: 15px;
    box-sizing: border-box;
    margin-bottom: 6px;
    font-family: 'Roboto', 'Segoe UI', Arial, sans-serif;
    color: #000000;
}
input:focus::placeholder{
    color: transparent;
}
input::placeholder {
    color: rgb(47, 46, 46);
    transition: color 230ms ease;
}
input:focus {
    outline: none; 
    border: 2px solid #6dbdcf; 
    box-shadow: 0 0 5px rgba(4, 72, 145, 0.5);
}
.reg-details div input[type="color"]{ 
    height: 20px;
    width: 22px;
    padding: 0px;
    border: 2px solid transparent;
    border-radius: 15px;
    background: #f0f0f0;
    cursor: pointer;
    transition: border-color 0.2s ease-in-out;
}
.reg-details div input[type="color"]:focus {
    border: 2px solid #d7dddf;
    box-shadow: 0 0 5px rgba(4, 72, 145, 0.5);
    outline: none;
}
.color-label {
    font-size: 11px;
    color: #ffffff;
    padding-left: 1.5px;
}
.reg-details .reg-button {
    padding: 6px 12px;
    margin-top: 6px;
    border: none;
    color: #f0f0f0;
    border-radius: 1000px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #15406e 0%, #031229 100%);
    background-size: 200%;
    cursor: pointer;
    transition: background-position 0.4s ease-in-out, box-shadow 0.2s ease-in-out;
}
.reg-details .reg-button:hover {
    background-position: right center; 
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
fieldset {
    border: 1px solid #ccc; 
    border-radius: 10px; 
    padding: 1px;  
    margin-bottom: -8%;
}
fieldset > label{
    font-size: 11px;
}
legend {
    font-size: 11px;
    padding: 0 5px; 
}
.user-reg > h4{
    font-family: 'Segoe UI', Roboto, Arial, sans-serif;
    margin-bottom: 15px;
    margin-top: 14px;
    position: relative;
    width: max-content;
    color: #ffffff;
    font-weight: 500;
}
.user-reg > h4::after{
    content: '';
    background: linear-gradient(to right, #5DBCD2, #41729F, #1E4171);
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: -4px;
    left: 0 ;
    border-radius: 10px;
    transition: 100ms;
}
.user-reg > h4:hover::after{
    width: 0;
}
.reg-details label[for="termandcondition"] a {
    font-size: 11px;
    color: #181717; 
    text-decoration: none; 
}
.reg-details label[for="termandcondition"] a:hover {
    text-decoration: underline;
    color: #000000; 
}
